node_modules
**/node_modules
dist
build
.DS_Store
.env
.env.*
packages/desktop/src-tauri/target
packages/desktop/src-tauri/*.db
packages/desktop/src-tauri/*.sqlite
packages/desktop/dist
packages/web/.next
packages/backend/node_modules
